@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Popins", sans-serif;
}
.container {
    width: 1140px;   

}
.sobrenos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sobrenos .title {
    font-weight: 900;
    display: block;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 18px;
}
.sobrenos .bar-title {
    background-color: #B8B8B8;
    width: 180px;
    height: 8px;
    margin-top: 5px;
    border-radius: 0 20px 20px 0;
}
.info-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.info-text-primary {
    flex-direction: row;
}
.info-text-secondary {
    flex-direction: row-reverse;
}
.bubble-primary {
    position: relative;
    width: 49%;
    height: fit-content;
    padding: 30px 20px;
    background: #D9D9D9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
 }
 .bubble-primary:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 23px 23px 0;
    border-color: #D9D9D9 transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -9px;
    right: 21px;
    transform: rotate(-145deg);
 }
 .bubble-secondary {
    position: relative;
    width: 49%;
    height: fit-content;
    padding: 30px 20px;
    background: #D9D9D9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
 }
 .bubble-secondary:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 23px 23px 0;
    border-color: #D9D9D9 transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -9px;
    left: 21px;
    transform: rotate(145deg);
 }
 .bubble-text p {
    text-align: justify;
    font-weight: 300;

 }
 .info-img {
    width: 49%;
    height: 100%;
 }
 .info-img img {
    width: 100%;
    height: 100%;
 }
 .info-img .img-primary {
    border-radius: 50px 0 0 50px;
 }
 .info-img .img-secondary {
    border-radius: 0 50px 50px 0;
 }

