@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
html {
--branco: rgb(255, 255, 255); 
--cinza: rgb(211, 207, 208); 
--vermelho: #831c1a;
--marrom: rgb(59, 17, 2);
--preto: rgb(13, 0, 0); 
}
body {
  background-color: #FAFAFA;
  font-size: 16px;
}
.container {
  width: 1140px;
}

/*HEADER*/


/* NAV ICON */
.header-center {
  position: absolute;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;    
  background-color: rgba(0, 0, 0, 0.8); 
  box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.5);
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  width: 100px;
  transition: all 0.3s ease-in-out;
}
.nav-logo .logotipo {
  width: 100%;
  height: 100%;
}
.nav-logo:hover {
  transform: scale(1.1);
}

/* NAV LIST */
.header-ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 12px;
  column-gap: 32px;
}

header .header-ul a {
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  font-size: 16px;
  color: white;
  text-decoration-line: none;
  text-align: center; 
}

header .header-ul a:hover {
  transition: 0.4s;
  color: rgb(198, 106, 105);
}

/* NAV BUTTON */
.nav-button {
  display: flex;
  column-gap: 10px;
}
.nav-button  button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 0.2px solid #ffffff;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

.login {
  cursor: pointer;
  background-color: rgba(79, 30, 30, 0.65);
}

.login:hover {
  transition: 0.5s;
  background-color: rgba(167, 31, 31, 0.62);
}

.cadastro {
  cursor: pointer;
  background-color: rgba(91, 78, 78, 0.855);
}

.cadastro:hover {
  transition: 0.5s;
  background-color: rgba(176, 175, 163, 0.717);
}

/* NAV PROFILE */
.nav-profile {
display: none;
position: relative;
justify-content: center;
align-items: center;
}
.user-profile-button {
display: flex;
color: white;
align-items: center;
justify-content: center;
flex-direction: column;
}
.user-profile-button p {
margin-top: 4px;
font-weight: 500;
font-size: 12px;
text-transform: uppercase;
}
.user-profile-button .icon-modify {
color: var(--cinza);
padding: 10px;
border-radius: 100%;
border: 2px solid var(--branco);
font-size: 22px;
cursor: pointer;
transition: all 0.4s ease-in-out;
}
.user-profile-button .icon-modify:hover {
color: #0e0c0c;
background-color: var(--cinza);
}

/* SUBMENU DROPDOWN */
.sub-menu-wrap {
position: absolute;
top: 100%;
right: -100%;
width: 320px;
max-height: 0;
overflow: hidden;
transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu {
max-height: 500px;

}
.submenu {
border-radius: 5px;
border: #bdbdbd 1.5px solid;
background-color: var(--branco);
padding: 20px;
margin: 10px;
}
.user-info {
display: flex;
align-items: center;
border-bottom: 2px solid #bdbdbd;
padding-bottom: 8px;
}
.user-info .username {
font-size: 24px;
color: #3B3B3B;
}
.user-info .icon-modify {
border: 2px solid var(--cinza);
background-color: #D9D9D9;
border-radius: 100%;
padding: 8px;
color: grey;
font-size: 32px;
margin-right: 15px;
}


.submenu-option {
display: flex;
align-items: center;
border-bottom: 1px solid #bdbdbd;
padding-bottom: 8px;
text-decoration: none;
color: #B8B8B8;
margin: 12px 0;
}
.submenu-option p {
width: 100%;
}
.submenu-option .icon-modify {
font-size: 16px;
color: grey;
padding: 8px;
background-color: var(--cinza);
border-radius: 50%;
margin-right: 16px;
}
.submenu-option span {
font-size: 22px;
transition: transform 0.3s ;
}

.submenu-option:hover .icon-modify {
color: var(--preto);  
}
.submenu-option:hover span {
color: var(--preto);  
transform: translateX(8px);
} 
.submenu-option:hover p {
color: var(--preto);
font-weight: bold;
}
/* Fim Header CSS */

.calculadora {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
  width: 100%;
  background-image: url(../img/bgCalculadora.png);
  background-repeat: no-repeat;

}
hr {
  position: absolute;
  left: 50%;
  border: 2px solid var(--marrom);
  height: 80%;
  border-radius: 8px;
}

.calculadora .container {
  display: flex;
  margin: auto;
  width: 1500px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.div_calculadora {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1100px;
  min-height: 500px;
  background-color: white;
  align-items: center;
  border-radius: 15px;
  padding: 8px 12px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
}

.div_componentes {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.div_componentes h1 {
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 50px;
  color: var(--marrom);
  margin-bottom: 16px;
}
.form_input_Obras {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form_input_Obras .label {
  display: flex;

  align-items: center;
  color: var(--marrom);
  position: relative;
  font-size: 16px;
  width: 75%;
  margin-bottom: 12px;
}
.label .icon-modify {
  padding: 10px;
  position: absolute;
  z-index: 1;
}
.form_input_Obras select,
.form_input_Obras input {
  position: relative;
  font-size: 15px;
  padding: 0 40px;
  width: 100%;
  height: 45px;
  background-color: var(--cinza);
  border: none;
  z-index: 0;
}

/* apagando setas do input numero */
.form_input_Obras input::-webkit-outer-spin-button,
.form_input_Obras input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.div_botoes {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: space-between;
}

button {
  background-color: var(--marrom);
  border-radius: 15px;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  padding: 16px 35px;
  cursor: pointer;
  font-weight: bold;
  align-self: center;
  border: none;
  margin-top: 1rem;
  border: solid 1px var(--marrom);
}

 button:hover {
  transition: all 0.5s;
  background-color: transparent;
  color: var(--marrom);
}

.div_orientacoes {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

#texto_p .label {
  position: relative;
  font-size: 14px;
}

.tam-view {
  position: absolute;
  left: -24px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 3px;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  font-size: 12px;
}

.texto {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  gap: 0.2rem;
}

.text-tam-b {
  color: #bdbdbd;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}

.text-tam-p {
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

.img-ori {
  width: 85%;
  height: fit-content;
  margin: 0;
}

.img-tex {
  width: 190px;
  height: 160px;
  text-align: center;
  margin-bottom: 15px;
}

.div_view {
  width: 500px;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  line-height: 20px;
  margin-top: 15px;
  overflow: hidden;
  overflow-y: scroll;
}

#div_resultado {
  display: flex;
  flex-direction: row;
  width: 145px;
  padding: 12px;
  background-color: var(--cinza);
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

#div_resultado p {
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

.div_view_final {
  width: 440px;
}

.div_view_final p {
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
}
