@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

header {
    height: 100px;
    width: 100%;
    background-color: black;
}

.dashboard{
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.menu-lateral {
    height: auto;
    width: 20vw;
    background-color: rgb(122, 43, 43);
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 1rem;
    width: 20vw;
    height: 100%;
    border-left: 8px solid rgba(255, 255, 255, 0);
}

a {
    text-decoration: none;
}

li:hover {
    background-color: rgb(212, 171, 171);
    border-left: 8px solid rgb(255, 255, 255);
}

li:active {
    background-color: rgb(172, 76, 76);
}

.active {
    border-left: 8px solid rgb(255, 255, 255);
    background-color: rgb(212, 171, 171);
}

.graficos {
    width: 100%;
    height: 100%;
    /* background-color: #f4f4f4; */
}

.grid-kpi {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto;
    width: 100%;
    height: 120px;
    column-gap: 8px;
    margin-top: 1rem;
    padding: 0 1rem 0 1rem;
    justify-content: space-between;
} 
.graficos .chart-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}
.graficos .chart-title i{
    font-size: 24px;
    color: #808080;
}
.chart-title .icon {
    display: flex;
    gap: 20px;
}
.grid-kpi .kpi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 190px;
    height: 100%;
    padding: 15px;
    background: #fafafafa;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;    
    overflow: hidden;
}
.grid-kpi .kpi .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #808080;
}
.grid-kpi .kpi .title h2 {
    font-size: 16px;
}
.grid-kpi .kpi .title i {
    font-size: 24px;
    color: black;
}
.grid-kpi .kpi .value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: black;
    text-align: center;
}

.metricas-graficos {
    width: 100%;
    height: 85%;
}

.grid-metricas-graficos {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding: 1rem;
}

.dashboard .card-template {
    padding: 15px;
    background: #fafafafa;
    border-radius: 15px;
    box-shadow: 0px 0px 24px -10px;
    overflow: hidden;
}

.metricas{
    width: 100%;
    height: 100%;
    padding: 15px;
    background: #fafafafa;
    border-radius: 15px;
    box-shadow: 0px 0px 24px -10px 
}

.graficos-dash{
    width: 100%;
    height: 100%;

}

.graficos-semana-estado {
    width: 100%;
    height: 60%;
    /* background-color: blueviolet; */
}

.grid-semana-estado {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    padding: 1rem;
}

.grafico-semana {
    width: 100%;
    height: 100%;
}

.grafico-estado {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(200, 255, 192); */
}