@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

header {
    height: 100px;
    width: 100%;
    background-color: black;
    margin-bottom: 2rem;
}

html {
    --branco: rgb(255, 255, 255);
    --cinza: rgb(211, 207, 208);
    --vermelho: #831c1a;
    --marrom: rgb(59, 17, 2);
    --preto: rgb(13, 0, 0);
}

.container {
    width: 1140px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav-header img {
    width: 100px;
    height: 100px;
}

.nav-header .header-title {
    position: absolute;
    display: flex;
    color: white;
    left: 50%;
    transform: translateX(-50%);
}

.logotipo {
    transition: all 0.5s;
}

.logotipo:hover {
    transform: scale(1.06)
}

/* NAV PROFILE */
.nav-profile {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  
  .user-profile-button {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .user-profile-button p {
    margin-top: 4px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
  }
  .user-profile-button .icon-modify {
    color: var(--cinza);
    padding: 10px;
    border-radius: 100%;
    border: 2px solid var(--branco);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }
  .user-profile-button .icon-modify:hover {
    color: #0e0c0c;
    background-color: var(--cinza);
  }
  
  /* SUBMENU DROPDOWN */
  .sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 320px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  .sub-menu-wrap.open-menu {
    max-height: 500px;
  }
  .submenu {
    border-radius: 5px;
    border: #bdbdbd 1.5px solid;
    background-color: var(--branco);
    padding: 20px;
    margin: 10px;
  }
  .user-info {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #bdbdbd;
    padding-bottom: 8px;
  }
  .user-info .username {
    font-size: 24px;
    color: #3b3b3b;
  }
  .user-info .icon-modify {
    border: 2px solid var(--cinza);
    background-color: #d9d9d9;
    border-radius: 100%;
    padding: 8px;
    color: grey;
    font-size: 32px;
    margin-right: 15px;
  }
  
  .submenu-option {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: 8px;
    text-decoration: none;
    color: #b8b8b8;
    margin: 12px 0;
  }
  .submenu-option p {
    width: 100%;
  }
  .submenu-option .icon-modify {
    font-size: 16px;
    color: grey;
    padding: 8px;
    background-color: var(--cinza);
    border-radius: 50%;
    margin-right: 16px;
  }
  .submenu-option span {
    font-size: 22px;
    transition: transform 0.3s;
  }
  
  .submenu-option:hover .icon-modify {
    color: var(--preto);
  }
  .submenu-option:hover span {
    color: var(--preto);
    transform: translateX(8px);
  }
  .submenu-option:hover p {
    color: var(--preto);
    font-weight: bold;
  }


.title {
    font-family: "Popins", sans-serif;
    font-weight: 900;
    display: block;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 18px;
}

.bar-title {
    width: 180px;
    height: 8px;
    margin-top: 5px;
    border-radius: 0 20px 20px 0;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.main .duvidas {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}
.main .duvidas .title {
    margin-bottom: 2rem;
}
.duvidas .bar-title {
    background-color: #3b3b3b;
}

.duvidas .content {
    width: 100%;
    min-height: auto;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.duvidas .content details {
    height: min-content;
}

.duvidas .content details summary {
    background-color: var(--vermelho);
    color: #fff;
    padding: 24px 16px;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.duvidas .content details p {
    padding: 20px;
    background-color: var(--branco);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.main .atendimento {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;

}

.atendimento .bar-title {
    background-color: #3b3b3b;
}

.atendimento .content {
    width: 100%;
    min-height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1.4fr;
}

.atendimento .content .img-section {
    width: 100%;
    height: 100%;
}

.content .img-section img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.atendimento .content .interaction-section {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 0 32px 32px 32px;
    display: flex;
    flex-direction: column;
}

.content .interaction-section .title {
    margin: 24px 0;
    text-align: center;
    font-size: 24px;
}

.content .interaction-section .description {
    font-size: 18px;
    text-align: justify;
}

.content .interaction-section .button-section {
    width: 100%;
    margin-top: auto;
}

.interaction-section .button-section a {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 15px 8px;
    border-radius: 8px;
    font-weight: 800;
    font-size: 24px;
    text-transform: uppercase;
    color: #000;
    background-color: transparent;
    border: 2px solid black;
    transition: all .3s;
    cursor: pointer;
}

.interaction-section .button-section a:hover {
    border-color: transparent;
    background-color: var(--vermelho);
    color: #fff;
}