 body{
   background-color: whitesmoke;
   background-image: url(imagens/image.png);
   
} 


.pai{
    margin: 250px;
    justify-content: center;
    display: flex;
    top: 40px;
   left:300px;
}
.quadrado{
   
   width: 700px;
   height: 500px;
   border-radius:20px ;
   text-align: center;
   direction:column ;
    background-color:rgba(0, 0, 0, 0.25);
}

.barrinha{
   

position: absolute;
width: 180px;
height: 10px;
left: 650px;
top: 340px;

background: #000000;
border-radius: 0px 20px 20px 0px;

}

.titulo_simuleAqui{

 
  /* padding:15px ;
  left: 20px; */
  font-weight: 800;
  position: absolute;
left: 650px;
top: 260px;
}

.txt{
    
    display: flex;
font-family:'Times New Roman', Times, serif;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 54px;
position: relative;
top:120px;
}

.botao{
    color:white;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #000000;
    position:relative;
    top:150px;
    border-radius: 20px;
    height: 50px;
    width:160px ;
    left:270px;
    font-size: 25px;
}

