
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&display=swap');
body{
    background-image: url(image/fundo.jpg);
    
}
.container .titulo{
   
position: absolute;
width: 400px;
height: 63px;
left: calc(50% - 421px/2 - 0.5px);
top: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 79px;

color: #FFFFFF;
text-shadow: 0px 5px 5px #000000;   
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 15%;

}

.retangulo{
position: relative;
display: flex;
flex-direction: column;
align-items: start;
justify-content: space-around;
width: 70vw;
height: 70vh;
background: #F1EFEB;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;

}

 .ambiente{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    height: 100%;
    margin-top: -50px;
    margin-left: 50px;
    font-family: 'Poppins';
} 

.ambiente .card{
   
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: start; 
background-color: red;
width: 225px;
height: 110px;
position:relative;


}
/*
.retangulo .button-ambiente{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   
border-radius: 10px;    
font-family: 'Poppins';
color:white;
background-color: black;
position: relative;
width: 280px;
height: 40px;



} */

