@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    font-family: "poppins", sans-serif;
    color: black;
}

body {
    height: 100%;
    background-image: url("../../3. src/img/bgCadastro.png");
    background-size: cover;
    background-repeat: no-repeat;
}

html {
    --branco: rgb(255, 255, 255);
    --cinza: rgb(211, 207, 208);
    --vermelho: #831c1a;
    --marrom: #3b1102;
    --preto: rgb(13, 0, 0);
  }
/* LOGIN */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.conteudo {
  position: relative;
  
  background-color: white;
  width: 80%;
  height: 80%;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.conteudo form {
   display: flex; 
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 50%;
   height: 100%;
}
.chamada {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  opacity: 1;
  transition: 1s all ease;
}
#cobertura {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  /* background-color: var(--marrom); */
  z-index: 1;
  transition: 1s all ease;

  background: rgb(113, 24, 22);
background: radial-gradient(circle,rgb(113, 24, 22) 2%, rgba(59,17,2,1) 70%);
}

.titulo {
    font-size: 32px;
    font-weight: bold;
    text-transform: capitalize; 
    margin-bottom: 0px;

}
.form .titulo{
    color: var(--marrom);
}
.chamada .titulo {
    color: white;
}
.descricao {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.form .descricao{
  margin: 0 0 10px;
    color: #7f8c8d;
}
.chamada .descricao{
    margin-bottom: 24px;
    color: white;
}
button {
    border-radius: 15px;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    padding: 16px 35px;
    cursor: pointer;
    font-weight: bold;
    align-self: center;
    border: none;
    margin-top: 1rem;
}
.btn-form{
    background-color: var(--marrom);
    border: 1px solid var(--marrom);
}
.btn-form:hover{
    background-color: white;
    border: 1px solid --marrom;
    color: var(--marrom);
}

 .btn-chamada {
    background-color: transparent;
    border: 1px solid white;
}

.btn-chamada:hover {
background-color: white ;
color: var(--marrom);
}

.form {
    display: flex;
    flex-direction: column;
    width: 55%;
    text-align: center;
    
}
.form input {
    position: relative;
    height: 45px;
    border: none;
    width: 100%;
    background-color: rgb(200, 200, 200);
    display: block;
    padding: 0 40px;
   
}
.label-input {
  position: relative;
    background-color: rgb(200, 200, 200);
    display: flex;
    align-items: center;
    margin: 0 0 16px;
    width: 70%;
}
.icon-modify{
    color: var(--marrom);
    padding: 10px;
    position: absolute;
    z-index: 1;
}

.hide {
  opacity: 0;
  transform: translateY(200%);
 }
 .right {
    transform: translateX(100%);
   }
   
.left {
    transform: translateX(0%);
   }

   #chamada-cadastrar {
    left: 0;
    right: unset;
  }
  
  #chamada-login {
   left: unset;
   right: 0;
  }

