@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

html {
  --branco: rgb(255, 255, 255); 
  --cinza: rgb(211, 207, 208); 
  --vermelho: rgb(131, 28, 26);
  --marrom: rgb(59, 17, 2);
  --preto: rgb(13, 0, 0); 
}

body {
    background-color: #FAFAFA;
    font-size: 16px;
}

.container {
    width: 1420px;
}

/*HEADER*/


/* NAV ICON */
.header-center {
  position: absolute;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;    
  background-color: rgba(0, 0, 0, 0.8); 
  box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.5);
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  width: 100px;
  transition: all 0.3s ease-in-out;
}
.nav-logo .logotipo {
  width: 100%;
  height: 100%;
}
.nav-logo:hover {
  transform: scale(1.1);
}

/* NAV LIST */
.header-ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 12px;
  column-gap: 32px;
}

header .header-ul a {
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  font-size: 16px;
  color: white;
  text-decoration-line: none;
  text-align: center; 
}

header .header-ul a:hover {
  transition: 0.4s;
  color: rgb(198, 106, 105);
}

/* NAV BUTTON */
.nav-button {
  display: none;
  column-gap: 10px;
}
.nav-button  button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 0.2px solid #ffffff;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

.login {
  cursor: pointer;
  background-color: rgba(79, 30, 30, 0.65);
}

.login:hover {
  transition: 0.5s;
  background-color: rgba(167, 31, 31, 0.62);
}

.cadastro {
  cursor: pointer;
  background-color: rgba(91, 78, 78, 0.855);
}

.cadastro:hover {
  transition: 0.5s;
  background-color: rgba(176, 175, 163, 0.717);
}

/* NAV PROFILE */
.nav-profile {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.user-profile-button {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.user-profile-button p {
  margin-top: 4px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}
.user-profile-button .icon-modify {
  color: var(--cinza);
  padding: 10px;
  border-radius: 100%;
  border: 2px solid var(--branco);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.user-profile-button .icon-modify:hover {
  color: #0e0c0c;
  background-color: var(--cinza);
}

/* SUBMENU DROPDOWN */
.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: -100%;
  width: 320px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu {
  max-height: 500px;

}
.submenu {
  border-radius: 5px;
  border: #bdbdbd 1.5px solid;
  background-color: var(--branco);
  padding: 20px;
  margin: 10px;
}
.user-info {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #bdbdbd;
  padding-bottom: 8px;
}
.user-info .username {
  font-size: 24px;
  color: #3B3B3B;
}
.user-info .icon-modify {
  border: 2px solid var(--cinza);
  background-color: #D9D9D9;
  border-radius: 100%;
  padding: 8px;
  color: grey;
  font-size: 32px;
  margin-right: 15px;
}

.submenu-option {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 8px;
  text-decoration: none;
  color: #B8B8B8;
  margin: 12px 0;
}

.submenu-option p {
  width: 100%;
}

.submenu-option .icon-modify {
  font-size: 16px;
  color: grey;
  padding: 8px;
  background-color: var(--cinza);
  border-radius: 50%;
  margin-right: 16px;
}

.submenu-option span {
  font-size: 22px;
  transition: transform 0.3s ;
}

.submenu-option:hover .icon-modify {
  color: var(--preto);  
}

.submenu-option:hover span {
  color: var(--preto);  
  transform: translateX(8px);
} 

.submenu-option:hover p {
  color: var(--preto);
  font-weight: bold;
}

.submenu .submenu-option:nth-last-of-type(1):hover p,
.submenu .submenu-option:nth-last-of-type(1):hover .icon-modify,
.submenu .submenu-option:nth-last-of-type(1):hover span  {
  color: var(--vermelho);
}

.fundo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--marrom); 
}

.dashboard {
  position: relative;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
}

.dash {
  display: flex;
  width: 100%;
  max-width: 1920px;
  gap: 1rem;
}

.distribuicao-elementos {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.graficos-dash {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  width: 100%;
}

.grafico {
  width: 100%;
  height: 230px;
  padding: 20px;
  background-color: var(--branco);
  border-radius: 12px;
}

.select-estado-css {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.select-estado-css select {
  width: 40px;
  height: 30px;
  font-size: 18px;
}

.gp-lux {
  display: flex;
  flex-direction: column;
}

.gp-temp {
  display: none;
  flex-direction: column;
}

.gp-umi {
  display: none;
  flex-direction: column;
}

.title-grafico{
  color: #fff;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ambiente-atual {
  display: none;
  align-items: flex-start;
  background-color: var(--branco);
  justify-content: center;
  border-radius: 12px;
}

.list-endereco {
  padding: 12px;
  display: none;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.menu-endereco {
  padding: 12px;
  width: 100%;
  display: flex;
  background-color: #74a9ee;
  border-radius: 24px;
  justify-content: center;
  transition: 0.4s;
}

.menu-endereco:hover {
  background-color: #3d74bc;
  color: #ffffff;
  transform: scale(1.05);
}

.submenu-amb {
  display: none;
}

.info-kpi {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  gap: 1rem;
}

.legend {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.title-kpi {
  display: flex;
  flex-direction: column;
}

.title-kpi h2 {
  color: #fff;
  font-size: 18px;
}

.kpi {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 70%;
  background-color: var(--branco);
  border-radius: 12px;
  padding: 6px;
  justify-content: flex-start;
  align-items: center;
}

.kpi h1 {
  font-size: 32px;
}

.kpi p {
  font-size: 10px;
  text-align: center;
}

.legend img {
  height: 25px; 
  width: 25px;
}

.fechar-dash {
  display: flex;
  flex-direction: row;
  width: 80px;
  height: 80px;
  background-color: var(--branco);
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 800;
  border-radius: 100%;
  color: var(--preto);
  transition: 0.5s;
}

.fechar-dash:hover {
  color: var(--branco);
  background-color: var(--vermelho);
}

.local {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  width: 300px;
  height: 70%;
  background-color: var(--branco);
  border-radius: 12px;
  padding: 5px;
}

.local h1 {
  font-size: 25px;
}

.local hr {
  height: 100%;
  border: 2px solid;
  border-radius: 24px;
  background-color: var(--marrom);
}