@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

html {
  --branco: rgb(255, 255, 255);
  --cinza: rgb(211, 207, 208);
  --vermelho: #831c1a;
  --marrom: rgb(59, 17, 2);
  --preto: rgb(13, 0, 0);
}

body {
  background-color: #FAFAFA;
  font-size: 16px;
}

.container {
  width: 1140px;
}

/*HEADER*/


/* NAV ICON */
.header-center {
  position: fixed;
  z-index: 99;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.5);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: 100px;
  transition: all 0.3s ease-in-out;
}

.nav-logo .logotipo {
  width: 100%;
  height: 100%;
}

.nav-logo:hover {
  transform: scale(1.1);
}

/* NAV LIST */
.header-ul {
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: center;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 12px;
  column-gap: 32px;
}

header .header-ul a {
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  font-size: 16px;
  color: white;
  text-decoration-line: none;
  text-align: center;
}

header .header-ul a:hover {
  transition: 0.4s;
  color: rgb(198, 106, 105);
}

/* NAV BUTTON */
.nav-button {
  display: none;
  column-gap: 10px;
}

.nav-button button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 0.2px solid #ffffff;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

.login {
  cursor: pointer;
  background-color: rgba(79, 30, 30, 0.65);
}

.login:hover {
  transition: 0.5s;
  background-color: rgba(167, 31, 31, 0.62);
}

.cadastro {
  cursor: pointer;
  background-color: rgba(91, 78, 78, 0.855);
}

.cadastro:hover {
  transition: 0.5s;
  background-color: rgba(176, 175, 163, 0.717);
}

/* NAV PROFILE */
.nav-profile {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.user-profile-button {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user-profile-button p {
  margin-top: 4px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}

.user-profile-button .icon-modify {
  color: var(--cinza);
  padding: 10px;
  border-radius: 100%;
  border: 2px solid var(--branco);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.user-profile-button .icon-modify:hover {
  color: #0e0c0c;
  background-color: var(--cinza);
}

/* SUBMENU DROPDOWN */
.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: -100%;
  width: 320px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
  max-height: 500px;

}

.submenu {
  border-radius: 5px;
  border: #bdbdbd 1.5px solid;
  background-color: var(--branco);
  padding: 20px;
  margin: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #bdbdbd;
  padding-bottom: 8px;
}

.user-info .username {
  font-size: 24px;
  color: #3B3B3B;
}

.user-info .icon-modify {
  border: 2px solid var(--cinza);
  background-color: #D9D9D9;
  border-radius: 100%;
  padding: 8px;
  color: grey;
  font-size: 32px;
  margin-right: 15px;
}


.submenu-option {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 8px;
  text-decoration: none;
  color: #B8B8B8;
  margin: 12px 0;
}

.submenu-option p {
  width: 100%;
}

.submenu-option .icon-modify {
  font-size: 16px;
  color: grey;
  padding: 8px;
  background-color: var(--cinza);
  border-radius: 50%;
  margin-right: 16px;
}

.submenu-option span {
  font-size: 22px;
  transition: transform 0.3s;
}

.submenu-option:hover .icon-modify {
  color: var(--preto);
}

.submenu-option:hover span {
  color: var(--preto);
  transform: translateX(8px);
}

.submenu-option:hover p {
  color: var(--preto);
  font-weight: bold;
}

.submenu .submenu-option:nth-last-of-type(1):hover p,
.submenu .submenu-option:nth-last-of-type(1):hover .icon-modify,
.submenu .submenu-option:nth-last-of-type(1):hover span {
  color: var(--vermelho);
}

/*HOMEPAGE BANNER*/
.banner {
  position: relative;
  z-index: 0;

  background-image: url("../img/bgHome.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;

}

.banner .banner-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  text-align: center;
}

.banner-text .title {
  width: 780px;
  height: fit-content;
  margin-bottom: 20px;
}

.banner-text .title h1 {
  color: var(--branco);
  font-size: 40px;
  font-weight: 700;
  text-shadow: 2px 3px 6px black;
}

.banner-text .subtitle {
  color: var(--branco);
  width: 400px;
  height: fit-content;
}

.banner-text .subtitle p {
  font-size: 21px;
  font-weight: 300;
}

/*SESSAO SOBRE NOS*/
.sobrenos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: "Popins", sans-serif;
  font-weight: 900;
  display: block;
  margin-bottom: 60px;
  text-transform: uppercase;
  font-size: 18px;
}

.bar-title {
  width: 180px;
  height: 8px;
  margin-top: 5px;
  border-radius: 0 20px 20px 0;
}

.sobrenos .bar-title {
  background-color: #B8B8B8;
}

.info-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.info-text-primary {
  flex-direction: row;
}

.info-text-secondary {
  flex-direction: row-reverse;
}

.bubble-primary {
  position: relative;
  width: 49%;
  height: fit-content;
  padding: 30px 20px;
  background: #D9D9D9;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.bubble-primary:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 23px 23px 0;
  border-color: #D9D9D9 transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -9px;
  right: 21px;
  transform: rotate(-145deg);

}

.bubble-secondary {
  position: relative;
  width: 49%;
  height: fit-content;
  padding: 30px 20px;
  background: #D9D9D9;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.bubble-secondary:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 23px 23px 0;
  border-color: #D9D9D9 transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -9px;
  left: 21px;
  transform: rotate(145deg);
}

.bubble-text p {
  font-family: "Popins", sans-serif;
  text-align: justify;
  font-weight: 300;

}

.info-img {
  width: 49%;
  height: 100%;
}

.info-img img {
  width: 100%;
  height: 100%;
}

.info-img .img-primary {
  border-radius: 50px 0 0 50px;
}

.info-img .img-secondary {
  border-radius: 0 50px 50px 0;
}

/* SESSAO SIMULE AQUI */
.simuleaqui {
  background-color: var(--cinza);
  background-image: url("../img/bgSimuleaqui\ -\ V2.png");
  background-size: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.simuleaqui .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.simuleaqui .content {
  width: 65%;
  border-radius: 20px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: rgba(0, 0, 0, 0.24) 12px 12px 8px;
}

.simuleaqui .title {
  color: var(--branco);
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  display: block;
  margin-bottom: 60px;
}

.simuleaqui .bar-title {
  background-color: var(--cinza);
}

.simuleaqui .text {
  display: flex;
  justify-content: center;
  text-align: center;
}

.simuleaqui .description {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #ffffff;
  text-shadow: black 1px 1px 1px;
  text-align: justify;
}

.btn-section {
  margin-top: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-section .btn {
  border: solid 1px var(--branco);
  width: 200px;
  height: 60px;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  font-size: 25px;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  background-color: white;
  color: black;
}

/* SESSAO NOSSO NEGOCIO */
.negocio {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.negocio .title {
  margin-top: 16px;
  color: black;
}

.negocio .bar-title {
  background-color: #B8B8B8;
}

.negocio .card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
}

.negocio .cardbox {
  position: relative;
  text-align: center;
  width: 22rem;
  overflow: hidden;
  margin-bottom: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.negocio .cardbox .image {
  padding: 2rem;
  overflow: hidden;
}

.negocio .cardbox .image img {
  width: 100%;
  margin-bottom: 1rem;
}

.negocio .cardbox .image h3 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: grey;
  font-weight: 700;
  font-size: 2rem;
}

.negocio .cardbox .content {
  position: absolute;
  bottom: -100%;
  background: #0e0c0c;
  padding: 1rem 1.5rem;
  transition: all .2s linear;
}

.negocio .cardbox:hover .content {
  bottom: 0;
}

.negocio .cardbox .content h3 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
}

.negocio .cardbox .content p {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: .875rem;
  padding: .75rem 0;
  color: white;
}

/* RODAPE */
.rodape {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300px;
  background-color: #080808;
  padding: 20px;
}

.rodape .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.titulo_rodape {
  color: white;
  font-weight: bold;
  font-size: 30px;

}

.text_rodape {
  display: flex;
  flex-direction: column;
  color: #B8B8B8;
  gap: 13px;
  width: 500px;
  font-size: 13px;
  padding: 20px;
  text-align: center;

}

.contato_rodape:hover{
  color: rgb(198, 106, 105);
  font-weight: bold;
}

.icon_rodape {
  display: flex;
  flex-direction: row;
  color: white;
  list-style-type: none;
  gap: 20px;
}

.rodape {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300px;
  background-color: #080808;
  padding: 20px;
}

.rodape .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.titulo_rodape {
  color: white;
  font-weight: bold;
  font-size: 30px;

}

.text_rodape {
  display: flex;
  flex-direction: column;
  color: #B8B8B8;
  gap: 13px;
  width: 500px;
  font-size: 13px;
  padding: 20px;
  text-align: center;

}

.contato_rodape:hover{
  color: rgb(198, 106, 105);
  font-weight: bold;
}

.icon_rodape {
  display: flex;
  flex-direction: row;
  color: white;
  list-style-type: none;
  gap: 20px;


}

.autorais {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #B8B8B8;
  background-color: black;
  width: 100%;
  height: 50px;
  font-size: 13px;
}