
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

html {
  --branco: rgb(255, 255, 255); 
  --cinza: rgb(211, 207, 208); 
  --vermelho: #831c1a;
  --marrom: rgb(59, 17, 2);
  --preto: rgb(13, 0, 0); 
}

body {
    background-color: #FAFAFA;
    font-size: 16px;
}

.container {
    width: 1140px;
}

/*HEADER*/


/* NAV ICON */
.header-center {
  position: absolute;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;    
  background-color: rgba(0, 0, 0, 0.8); 
  box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.5);
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  width: 100px;
  transition: all 0.3s ease-in-out;
}
.nav-logo .logotipo {
  width: 100%;
  height: 100%;
}
.nav-logo:hover {
  transform: scale(1.1);
}

/* NAV LIST */
.header-ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 12px;
  column-gap: 32px;
}

header .header-ul a {
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  font-size: 16px;
  color: white;
  text-decoration-line: none;
  text-align: center; 
}

header .header-ul a:hover {
  transition: 0.4s;
  color: rgb(198, 106, 105);
}

/* NAV BUTTON */
.nav-button {
  display: none;
  column-gap: 10px;
}
.nav-button  button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 0.2px solid #ffffff;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

.login {
  cursor: pointer;
  background-color: rgba(79, 30, 30, 0.65);
}

.login:hover {
  transition: 0.5s;
  background-color: rgba(167, 31, 31, 0.62);
}

.cadastro {
  cursor: pointer;
  background-color: rgba(91, 78, 78, 0.855);
}

.cadastro:hover {
  transition: 0.5s;
  background-color: rgba(176, 175, 163, 0.717);
}

/* NAV PROFILE */
.nav-profile {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.user-profile-button {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.user-profile-button p {
  margin-top: 4px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}
.user-profile-button .icon-modify {
  color: var(--cinza);
  padding: 10px;
  border-radius: 100%;
  border: 2px solid var(--branco);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.user-profile-button .icon-modify:hover {
  color: #0e0c0c;
  background-color: var(--cinza);
}

/* SUBMENU DROPDOWN */
.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: -100%;
  width: 320px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu {
  max-height: 500px;

}
.submenu {
  border-radius: 5px;
  border: #bdbdbd 1.5px solid;
  background-color: var(--branco);
  padding: 20px;
  margin: 10px;
}
.user-info {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #bdbdbd;
  padding-bottom: 8px;
}
.user-info .username {
  font-size: 24px;
  color: #3B3B3B;
}
.user-info .icon-modify {
  border: 2px solid var(--cinza);
  background-color: #D9D9D9;
  border-radius: 100%;
  padding: 8px;
  color: grey;
  font-size: 32px;
  margin-right: 15px;
}

.submenu-option {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 8px;
  text-decoration: none;
  color: #B8B8B8;
  margin: 12px 0;
}

.submenu-option p {
  width: 100%;
}

.submenu-option .icon-modify {
  font-size: 16px;
  color: grey;
  padding: 8px;
  background-color: var(--cinza);
  border-radius: 50%;
  margin-right: 16px;
}

.submenu-option span {
  font-size: 22px;
  transition: transform 0.3s ;
}

.submenu-option:hover .icon-modify {
  color: var(--preto);  
}

.submenu-option:hover span {
  color: var(--preto);  
  transform: translateX(8px);
} 

.submenu-option:hover p {
  color: var(--preto);
  font-weight: bold;
}

.submenu .submenu-option:nth-last-of-type(1):hover p,
.submenu .submenu-option:nth-last-of-type(1):hover .icon-modify,
.submenu .submenu-option:nth-last-of-type(1):hover span  {
  color: var(--vermelho);
}

.background-ambiente {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115vh;
  background-image: url("../img/bgAmbientes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.retangulo { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; 
  background: #F1EFEB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  gap: 1rem;
}

.banner {
  height: 125px;
  width: 100%;
  background-image: url("../img/bannerAmbientes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px 12px 0px 0px;
}

.icon-modify-mais {
  width: 35px;
  color: var(--marrom);
  font-size: 25px;
  transition: all 0.2s ease;
}

.icon-modify-mais:hover {
  color: rgba(102, 12, 12, 0.65);
  transform: scale(1.15);
}

.titulo-card{
  font-size: 32px;
  color: var(--marrom);
}

.label-add {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.ambiente {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  width: 95%;
  align-items: flex-start;
  font-family: 'Poppins';
  gap: 1rem;
}

.layout-card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.card{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center; 
  width: 275px;
  height: 110px;
  border-radius: 10px;
  padding: 12px;
  gap: 0.5rem;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.4s;
}

.card:hover {
  transform: scale(1.04);
}

.conteudo-card{
  width: 60%;
  font-size: 24px;
  font-weight: 600;
}

.card hr {
  border: 1px solid #fff;
  border-radius: 12px;
  height: 100%;
}

.info {
  width: 40%;
}

.retangulo button {
  border-radius: 15px;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  padding: 16px 35px;
  cursor: pointer;
  font-weight: bold;
  align-self: center;
  margin-bottom: 1rem;
}

.modal button {
  border-radius: 12px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.retangulo .btn{
  background-color: var(--marrom);
  border: 1px solid var(--marrom);
  transition: 0.5s;
}

.retangulo .btn:hover{
  background-color: white;
  color: var(--marrom);
}

.modal {
  position: fixed;
  height: 120vh;
  width: 100vw;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(140, 140, 140, 0.9 );
  z-index: 1;
}

.janela-modal {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  gap: 1rem;
  border-radius: 12px;
}

.header-modal {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-modal h1 {
  font-size: 42px;
  color: var(--marrom);
}

.modal hr {
  width: 100%;
  height: 4px;
  background-image: url("../img/bannerAmbientes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 12px;
}

.container-modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.janela-modal button {
  background-color: rgb(255, 255, 255);
  border: 1px solid var(--marrom);
  color: var(--marrom);
  transition: 0.5s;
}

.janela-modal button:hover {
  background-color: var(--marrom);
  color: var(--branco);
}

.modal.chamada {
  display: flex;
}

.container-modal .input-text {
  height: 45px;
  border: none;
  width: 100%;
  background-color: rgb(200, 200, 200);
  display: block;
  padding: 0 40px;
}

.container-modal p {
  font-weight: 400;
  color: var(--marrom);
}

.container-modal h3 {
  font-weight: 700;
  color: var(--marrom);
}

.checked-section {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.input-tinta {
  font-size: 16px;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.input-tinta input {
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: var(--cinza);
  border-radius: 32px;
  transition: 0.4s;
  cursor: pointer;
}

.input-tinta input:hover {
  background-color: var(--vermelho);
}

.input-tinta input:checked {
  background-color: green; 
  background-image: url("../img/checked.png"); 
  background-repeat: no-repeat; 
  background-size: 15px 15px; 
  background-position: center;
  background-origin: content-box;
  display: flex;
}

.label-input {
  position: relative;
  background-color: rgb(200, 200, 200);
  display: flex;
  align-items: center;
  margin: 0 0 12px;
  margin-bottom: 0;
}

.label-input .icon-modify {
  color: var(--marrom);
  padding: 10px;
  position: absolute;
}


