@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Exo:ital,wght@0,100..900;1,100..900&family=Jaldi:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: black;
}

body {
    height: 100%;
    background-image: url("fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Header CSS */
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.5);
}

.header-ul {
  display: flex;
  align-items: center;
}

li .logotipo {
  width: 105px;
  height: 105px;
}

li button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 0.2px solid #ffffff;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  font-size: 16px;
}

.login {
  background-color: rgba(79, 30, 30, 0.65);
}

.login:hover {
  transition: 0.5s;
  background-color: rgba(167, 31, 31, 0.62);
}

.cadastro {
  background-color: rgba(91, 78, 78, 0.855);
}

.cadastro:hover {
  transition: 0.5s;
  background-color: rgba(176, 175, 163, 0.717);
}

.nav-button {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  gap: 24px;
  font-weight: 30;
}

.botaologin {
  color: whitesmoke;
}

header ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  font-size: 12px;
  width: 70%;
  gap: 60px;
}

.nav-logo {
  padding-right: 100px;
}

header a {
  font-family: "Jaldi", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  font-size: 18px;
  color: white;
  text-decoration-line: none;
  text-align: center;
}

header a:hover {
  transition: 0.4s;
  color: rgb(255, 200, 0);
}


/* LOGIN */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: beige; */
}

.conteudos {
   background-color: white;
   width: 80%;
   height: 80%;
   border-radius: 15px;
   justify-content: space-between;
   align-items: center;
   position: relative;
   overflow: hidden;
}
.conteudos form {
   display: flex; 
   flex-direction: column;
}
.conteudo-1 {
    display: flex;
}
.conteudos::before {
    content: "";
    position: absolute;
    background-color: purple;
    width: 40%;
    height: 100%;
    opacity: 1;
    transition: 1s all ease;
}
.titulo {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize; 
}
.titulo-1 {
    color: white;
}
.titulo-2{
    color: purple;
}
.descricao {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.descricao-1{
    color: white;
}
.descricao-2{
    color: #7f8c8d;
}
.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}
.btn-1 {
    background-color: transparent;
    border: 1px solid white;
}

.btn-1:hover {
background-color: white ;
color: purple;
}
.btn-2{
    background-color: purple;
    border: 1px solid purple;
}
.btn-2:hover{
    background-color: white;
    border: 1px solid purple;
    color: purple;
}
.coluna-1 {
    text-align: center;
    width: 40%;
    z-index: 10;

}
.coluna-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}


.form {
    display: flex;
    flex-direction: column;
    width: 55%;
    text-align: center;
    
}
.form input {
    position: relative;
    height: 45px;
    border: none;
    width: 100%;
    background-color: rgb(200, 200, 200);
    display: block;
    padding: 0 40px;
   
}
.label-input {
    background-color: rgb(200, 200, 200);
    display: flex;
    align-items: center;
    margin: 8px;
    position: relative;
}
.icon-modify{
    color: purple;
    padding: 10px;
    position: absolute;
    z-index: 1;
}
.conteudo-2 {
    position: absolute;
    /* display: flex; */
    display: none;
}
.conteudo-2 .coluna-1{
    order: 2;
}
.conteudo-2 .coluna-2{
    order: 1;   
}
