@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Exo:ital,wght@0,100..900;1,100..900&family=Jaldi:wght@400;700&display=swap");

.jaldi-regular {
  font-family: "Jaldi", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jaldi-bold {
  font-family: "Jaldi", sans-serif;
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

/* Header CSS */

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #2d1f1fc5;
  box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.5);
}

.header-ul {
  display: flex;
  align-items: center;
}

li .logotipo {
  width: 105px;
  height: 10S5px;
}

li button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 0.2px solid #ffffff;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  font-size: 16px;
}

.login {
  background-color: rgba(79, 30, 30, 0.65);
}

.login:hover {
  transition: 0.5s;
  background-color: rgba(167, 31, 31, 0.62);
}

.cadastro {
  background-color: rgba(91, 78, 78, 0.855);
}

.cadastro:hover {
  transition: 0.5s;
  background-color: rgba(176, 175, 163, 0.717);
}

.nav-button {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  gap: 24px;
  font-weight: 30;
}

.botaologin {
  color: whitesmoke;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  font-size: 12px;
  width: 70%;
  gap: 60px;
}

.nav-logo {
  padding-right: 100px;
}

a {
  font-family: "Jaldi", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  font-size: 18px;
  color: white;
  text-decoration-line: none;
  text-align: center;
}

a:hover {
  transition: 0.4s;
  color: rgb(255, 200, 0);
} 

/* Fim Header CSS */

body {
  width: 100%;
  background-image: url(image/background.png);
  background-repeat: no-repeat;
}

hr {
  border: 2px solid rgb(255, 200, 0);
  height: 100%;
  border-radius: 8px;
}

.container {
  display: flex;
  margin: auto;
  width: 1500px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.div_calculadora {
  display: flex;
  flex-direction: row;
  width: 1100px;
  height: 480px;
  background-color: white;
  align-items: center;
  border-radius: 15px;
  padding: 22px;
  margin-top: 45px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
}

.div_componentes {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* gap: 6px; */
}

.div_componentes h1 {
  font-family: "Jaldi", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  color: #2d1f1f;
}

.input_calculadora {
  font-size: 15px;
  width: 325px;
  padding: 12px;
  border-radius: 5px;
  border: 2px solid rgb(250, 197, 5);
  outline: none;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.select_calculadora {
  border: 2px solid rgb(250, 197, 5);
  outline: none;
  width: 350px;
  font-size: 15px;
  padding: 12px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.div_botoes {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: space-between;
}

button {
  padding: 12px;
  border-radius: 5px;
  background-color: rgb(250, 197, 5);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
}

button:hover {
  transition: 0.5s;
  background-color: #2d1f1f;
}

.div_orientacoes {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 420px;
  padding: 20px;
  align-items: center;
  justify-content: space-evenly;
  gap: 16px;
}

.texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.text-tam-b {
  font-family: "Jaldi", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  line-height: 42px;
}

.text-tam-p {
  font-family: "Jaldi", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
}

.img-ori {
  width: 350px;
  height: 350px;
  margin: 0;
}

.img-tex {
  width: 190px;
  height: 160px;
  text-align: center;
  margin-bottom: 15px;
}

.div_view {
  width: 500px;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  line-height: 20px;
  margin-top: 15px;
  overflow: hidden;
  overflow-y: scroll;
}

#div_resultado {
  display: flex;
  flex-direction: row;
  width: 120px;
  padding: 12px;
  gap: 12px;
  background-color: rgb(215, 231, 255);
  border-radius: 16px;
}

#div_resultado p {
  font-family: "Jaldi", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.div_view_final {
  width: 440px;
}

.div_view_final p {
  font-family: "Jaldi", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
}
