body {
    background-image: url("imagens/museusm2\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;

}

li .logotipo {
    padding-right: 160px;
}

li .login {
    
    color: white;
    font-weight: bold;
    border: 5px;
    border-radius: 10px;
    width: 100%;
    height: 25px;
    background-color: rgb(245, 245, 245, 0.5);


}

.botaologin {
    padding-left: 100px;
    color: whitesmoke;

}



ul {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 13px;
    width: 70%;
    gap: 60px;

}


a {
    font-weight: bold;
    color: white;
    text-decoration-line: none;

}

.container_frase {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    gap: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;





}



.frase_homepage {

    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.frase2_homepage {

    text-align: center;
    font-size: 20px;
    color: white;




}

.container_sobreNos{

    display: block;
    justify-content: center;
    flex-direction: column;
    background-color: #B8B8B8;
    overflow-y: scroll;

}

.titulo_sobreNos{

/* Sobre nós */

position: absolute;
width: 245px;
height: 50px;
top: 899px;

font-family: 'Lexend';
font-style: normal;

font-size: 30px;
line-height: 50px;
/* identical to box height */

color: #282828;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);


/* Rectangle 29 */

position: absolute;
width: 180px;
height: 10px;
left: 210px;
top: 695px;
background: #B8B8B8;
border-radius: 0px 20px 20px 0px;

}

.balao1{
/* Group 75 */

position: absolute;
width: 559px;
height: 298.5px;
left: 209px;
top: 1031px;

}